*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


:root {
  --primary: #0e0d0e;
  --secondary: #fdd08b;
  --dark: #0F172A;
  --light: #fadbbd;
  --gray: #2A2F3A;
  --white:#ffffffe6;
}
@font-face {
  font-family: "Libre_Baskerville";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}


h1, h2{
  
  background: linear-gradient(120deg, var(--gray), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  color: var(--white)
}

body{
  background-color: var(--primary);
}